<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.4/phpunit.xsd"
         bootstrap="../tests/bootstrap.php"
         cacheDirectory="../var/cache/phpunit"
         colors="true"
>
    <php>
        <env name="APP_ENV" value="test" force="true"/>
    </php>

    <testsuites>
        <testsuite name="application">
            <directory>../tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>../src</directory>
        </include>
    </source>
</phpunit>
